body {}body,
textarea,
input,
select,
textarea,
button {
    font-family: 'Nanum Barun Gothic', sans-serif;
}
body {
    font-family: 'Nanum Barun Gothic', sans-serif;
}
#mk-header {
	background-color: #f7f7f7;
}
.mk-header-bg {
	background-color: #252525;
}
.mk-header-toolbar {
}
#theme-page {
	background-color: #fcfcfc;
}
#mk-footer {
	background-color: #3d4045;
}
#mk-footer .footer-wrapper {
	padding: 30px 0;
}
#mk-footer .widget {
	margin-bottom: 10px;
}
#mk-footer [class*='mk-col-'] {
	padding: 0 2%;
}
#sub-footer {
	background-color: #252525;
}
.mk-footer-copyright {
	font-size: 11px;
	letter-spacing: 1px;
}
#mk-boxed-layout {
	-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0);
	box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}
.mk-tabs-panes,
.mk-news-tab .mk-tabs-tabs li.ui-tabs-active a,
.mk-divider .divider-go-top,
.ajax-container,
.mk-fancy-title.pattern-style span,
.mk-portfolio-view-all,
.mk-woo-view-all,
.mk-blog-view-all {
	background-color: #fcfcfc;
}
.mk-header-bg {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
}
.header-sticky-ready .mk-header-bg {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
}
.header-style-4.header-align-left .mk-header-inner,
.header-style-4.header-align-center .mk-header-inner {
	border-bottom: none;
	border-right: 1px solid #ededed;
}
.header-style-4.header-align-right .mk-header-inner {
	border-bottom: none;
	border-left: 1px solid #ededed;
}
.header-style-2 .mk-header-nav-container {
	border-top: 1px solid #ededed;
}
#mk-header {
	border-bottom: 1px solid #ededed;
}
body {
	font-size: 14px;
	color: #777777;
	font-weight: normal;
	line-height: 1.66em;
	overflow:hidden!important;
}
p,
.mk-box-icon-2-content {
	font-size: 16px;
	color: #777777;
	line-height: 1.66em;
}
a {
	color: #2e2e2e;
}
a:hover {
	color: #F18C24;
}
#theme-page strong {
	color: #F18C24;
}
#theme-page h1 {
	font-size: 36px;
	color: #404040;
	font-weight: bold;
	text-transform: uppercase;
}
#theme-page h2 {
	font-size: 30px;
	color: #404040;
	font-weight: bold;
	text-transform: uppercase;
}
#theme-page h3 {
	font-size: 24px;
	color: #2e2e2e;
	font-weight: bold;
	text-transform: uppercase;
}
#theme-page h4 {
	font-size: 18px;
	color: #404040;
	font-weight: bold;
	text-transform: none;
}
#theme-page h5 {
	font-size: 16px;
	color: #404040;
	font-weight: bold;
	text-transform: uppercase;
}
#theme-page h6 {
	font-size: 14px;
	color: #404040;
	font-weight: normal;
	text-transform: uppercase;
}
.page-introduce-title {
	font-size: 20px;
	color: ;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 2px;
}
.page-introduce-subtitle {
	font-size: 14px;
	line-height: 100%;
	color: ;
	font-size: 14px;
	text-transform: none;
}
::-webkit-selection {
	background-color: #252525;
	color: #fff;
}
::-moz-selection {
	background-color: #252525;
	color: #fff;
}
::selection {
	background-color: #252525;
	color: #fff;
}
#mk-sidebar,
#mk-sidebar p {
	font-size: 14px;
	color: #999999;
	font-weight: normal;
}
#mk-sidebar .widgettitle {
	text-transform: uppercase;
	font-size: 14px;
	color: #333333;
	font-weight: bolder;
}
#mk-sidebar .widgettitle a {
	color: #333333;
}
#mk-sidebar .widget a {
	color: #999999;
}
#mk-footer,
#mk-footer p {
	font-size: 14px;
	color: #808080;
	font-weight: normal;
}
#mk-footer .widgettitle {
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
}
#mk-footer .widgettitle a {
	color: #ffffff;
}
#mk-footer .widget:not(.widget_social_networks) a {
	color: #999999;
}
.mk-side-dashboard {
	background-color: #444444;
}
.mk-side-dashboard,
.mk-side-dashboard p {
	font-size: 12px;
	color: #eeeeee;
	font-weight: normal;
}
.mk-side-dashboard .widgettitle {
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
}
.mk-side-dashboard .widgettitle a {
	color: #ffffff;
}
.mk-side-dashboard .widget a {
	color: #fafafa;
}
.sidedash-navigation-ul li a,
.sidedash-navigation-ul li .mk-nav-arrow {
	color: #ffffff;
}
.sidedash-navigation-ul li a:hover {
	color: #ffffff;
	background-color: ;
}
.mk-fullscreen-nav {
	background-color: #444444;
}
.mk-fullscreen-nav .mk-fullscreen-nav-wrapper .mk-fullscreen-nav-logo {
	margin-bottom: 125px;
}
.mk-fullscreen-nav .fullscreen-navigation-ul .menu-item a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0;
	font-weight: 800;
	padding: 25px 0;
	color: #ffffff;
}
.mk-fullscreen-nav .fullscreen-navigation-ul .menu-item a:hover {
	background-color: #ffffff;
	color: #444444;
}
#mk-sidebar .widget:not(.widget_social_networks) a:hover {
	color: #F18C24;
}
#mk-footer .widget:not(.widget_social_networks) a:hover {
	color: #F18C24;
}
.mk-side-dashboard .widget:not(.widget_social_networks) a:hover {
	color: #F18C24;
}
.mk-grid {
	max-width: 1140px;
}
.mk-header-nav-container,
.mk-classic-menu-wrapper {
	width: 1140px;
}
.theme-page-wrapper #mk-sidebar.mk-builtin {
	width: 27%;
}
.theme-page-wrapper.right-layout .theme-content,
.theme-page-wrapper.left-layout .theme-content {
	width: 73%;
}
.mk-boxed-enabled #mk-boxed-layout,
.mk-boxed-enabled #mk-boxed-layout .header-style-1 .mk-header-holder,
.mk-boxed-enabled #mk-boxed-layout .header-style-3 .mk-header-holder {
	max-width: 1200px;
}
.mk-boxed-enabled #mk-boxed-layout .header-style-1 .mk-header-holder,
.mk-boxed-enabled #mk-boxed-layout .header-style-3 .mk-header-holder {
	width: 100%!important;
	left: auto!important;
}
.mk-boxed-enabled #mk-boxed-layout .header-style-2.header-sticky-ready .mk-header-nav-container {
	width: 1200px!important;
	left: auto!important;
}
.header-style-1 .mk-header-start-tour,
.header-style-3 .mk-header-start-tour,
.header-style-1 .mk-header-inner #mk-header-search,
.header-style-1 .mk-header-inner,
.header-style-1 .mk-search-trigger,
.header-style-3 .mk-header-inner,
.header-style-1 .header-logo,
.header-style-3 .header-logo,
.header-style-1 .shopping-cart-header,
.header-style-3 .shopping-cart-header,
.header-style-1 #mk-header-social.header-section a,
.header-style-2 #mk-header-social.header-section a,
.header-style-3 #mk-header-social.header-section a {
	height: 90px;
	line-height: 90px;
}
@media handheld,
only screen and (max-width: 1140px) {
	.header-grid.mk-grid .header-logo.left-logo {
		left: 15px!important;
	}
	.header-grid.mk-grid .header-logo.right-logo,
	.mk-header-right {
		right: 15px!important;
	}
}
#mk-theme-container:not(.mk-transparent-header) .header-style-1 .mk-header-padding-wrapper,
#mk-theme-container:not(.mk-transparent-header) .header-style-3 .mk-header-padding-wrapper {
	padding-top: 90px;
}
@media handheld,
only screen and (max-width: 960px) {
	.theme-page-wrapper .theme-content {
		width: 100%!important;
		float: none!important;
	}
	.theme-page-wrapper {
		padding-right: 15px!important;
		padding-left: 15px!important;
	}
	.theme-page-wrapper .theme-content:not(.no-padding) {
		padding: 25px 0!important;
	}
	.theme-page-wrapper #mk-sidebar {
		width: 100%!important;
		float: none!important;
		padding: 0!important;
	}
	.theme-page-wrapper #mk-sidebar .sidebar-wrapper {
		padding: 20px 0!important;
	}
}
@media handheld,
only screen and (max-width: 1140px) {
	.mk-go-top,
	.mk-quick-contact-wrapper {
		bottom: 70px!important;
	}
	.mk-grid {
		width: 100%;
	}
	.mk-padding-wrapper {
		padding: 0 20px;
	}
}
#mk-toolbar-navigation ul li a,
.mk-language-nav>a,
.mk-header-login .mk-login-link,
.mk-subscribe-link,
.mk-checkout-btn,
.mk-header-tagline a,
.header-toolbar-contact a,
#mk-toolbar-navigation ul li a:hover,
.mk-language-nav>a:hover,
.mk-header-login .mk-login-link:hover,
.mk-subscribe-link:hover,
.mk-checkout-btn:hover,
.mk-header-tagline a:hover {
	color: #999999;
}
.mk-header-tagline,
.header-toolbar-contact,
.mk-header-date {
	color: #999999;
}
.mk-header-toolbar #mk-header-social a i {
	color: #999999;
}
.header-section#mk-header-social ul li a i {
	color: #999999;
}
.header-section#mk-header-social ul li a:hover i {
	color: #cccccc;
}
.header-style-2 .header-logo,
.header-style-4 .header-logo {
	height: 90px!important;
}
.header-style-4 .header-logo {
	margin: 10px 0;
}
.header-style-2 .mk-header-inner {
	line-height: 90px;
}
.mk-header-nav-container {
	background-color: ;
}
.mk-header-start-tour {
	font-size: 14px;
	color: #333333;
}
.mk-header-start-tour:hover {
	color: #333333;
}
.mk-classic-nav-bg {
	background-color: #fff;
}
.mk-search-trigger,
.mk-shoping-cart-link i,
.mk-header-cart-count,
.mk-toolbar-resposnive-icon i {
	color: #fff;
}
.mk-css-icon-close div,
.mk-css-icon-menu div {
	background-color: #444444;
}
#mk-header-searchform .text-input {
	background-color: !important;
	color: #c7c7c7;
}
#mk-header-searchform span i {
	color: #c7c7c7;
}
#mk-header-searchform .text-input::-webkit-input-placeholder {
	color: #c7c7c7;
}
#mk-header-searchform .text-input:-ms-input-placeholder {
	color: #c7c7c7;
}
#mk-header-searchform .text-input:-moz-placeholder {
	color: #c7c7c7;
}
.header-style-1.header-sticky-ready .menu-hover-style-1 .main-navigation-ul>li>a,
.header-style-3.header-sticky-ready .menu-hover-style-1 .main-navigation-ul>li>a,
.header-style-1.header-sticky-ready .menu-hover-style-5 .main-navigation-ul>li,
.header-style-1.header-sticky-ready .menu-hover-style-2 .main-navigation-ul>li>a,
.header-style-3.header-sticky-ready .menu-hover-style-2 .main-navigation-ul>li>a,
.header-style-1.header-style-1.header-sticky-ready .menu-hover-style-4 .main-navigation-ul>li>a,
.header-style-3.header-sticky-ready .menu-hover-style-4 .main-navigation-ul>li>a,
.header-style-1.header-sticky-ready .menu-hover-style-3 .main-navigation-ul>li,
.header-style-1.header-sticky-ready .mk-header-inner #mk-header-search,
.header-style-3.header-sticky-ready .mk-header-holder #mk-header-search,
.header-sticky-ready.header-style-3 .mk-header-start-tour,
.header-sticky-ready.header-style-1 .mk-header-start-tour,
.header-sticky-ready.header-style-1 .mk-header-inner,
.header-sticky-ready.header-style-3 .mk-header-inner,
.header-sticky-ready.header-style-3 .header-logo,
.header-sticky-ready.header-style-1 .header-logo,
.header-sticky-ready.header-style-1 .mk-search-trigger,
.header-sticky-ready.header-style-1 .mk-search-trigger i,
.header-sticky-ready.header-style-1 .shopping-cart-header,
.header-sticky-ready.header-style-1 .shopping-cart-header i,
.header-sticky-ready.header-style-3 .shopping-cart-header,
.header-sticky-ready.header-style-1 #mk-header-social.header-section a,
.header-sticky-ready.header-style-3 #mk-header-social.header-section a {
	height: 55px!important;
	line-height: 55px!important;
}
#mk-header-social.header-section a.small {
	margin-top: 28px;
}
#mk-header-social.header-section a.medium {
	margin-top: 20px;
}
#mk-header-social.header-section a.large {
	margin-top: 12px;
}
.header-sticky-ready #mk-header-social.header-section a.small,
.header-sticky-ready #mk-header-social.header-section a.medium,
.header-sticky-ready #mk-header-social.header-section a.large {
	margin-top: 10.5px;
	line-height: 16px!important;
	height: 16px!important;
	font-size: 16px!important;
	width: 16px!important;
	padding: 8px!important;
}
.header-sticky-ready #mk-header-social.header-section a.small i:before,
.header-sticky-ready #mk-header-social.header-section a.medium i:before,
.header-sticky-ready #mk-header-social.header-section a.large i:before {
	line-height: 16px!important;
	font-size: 16px!important;
}
/* ��� ������ ���� */
.main-navigation-ul>li.menu-item>a.menu-item-link {
	color: #fff;
	font-size: 15px;
	padding-right: 20px;
	padding-left: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.mk-vm-menuwrapper ul li a {
	color: #444444;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}
.mk-vm-menuwrapper li>a:after,
.mk-vm-menuwrapper li.mk-vm-back:after {
	color: #444444;
}
.main-navigation-ul>li.no-mega-menu ul.sub-menu li.menu-item a.menu-item-link {
	width: 210px;
}
.mk-header-3-menu-trigger {
	color: #444444;
}
.menu-hover-style-1 .main-navigation-ul li.menu-item>a.menu-item-link:hover,
.menu-hover-style-1 .main-navigation-ul li.menu-item:hover>a.menu-item-link,
.menu-hover-style-1 .main-navigation-ul li.current-menu-item>a.menu-item-link,
.menu-hover-style-1 .main-navigation-ul li.current-menu-ancestor>a.menu-item-link,
.menu-hover-style-2 .main-navigation-ul li.menu-item>a.menu-item-link:hover,
.menu-hover-style-2 .main-navigation-ul li.menu-item:hover>a.menu-item-link,
.menu-hover-style-2 .main-navigation-ul li.current-menu-item>a.menu-item-link,
.menu-hover-style-2 .main-navigation-ul li.current-menu-ancestor>a.menu-item-link,
.menu-hover-style-1.mk-vm-menuwrapper li.menu-item>a:hover,
.menu-hover-style-1.mk-vm-menuwrapper li.menu-item:hover>a,
.menu-hover-style-1.mk-vm-menuwrapper li.current-menu-item>a,
.menu-hover-style-1.mk-vm-menuwrapper li.current-menu-ancestor>a,
.menu-hover-style-2.mk-vm-menuwrapper li.menu-item>a:hover,
.menu-hover-style-2.mk-vm-menuwrapper li.menu-item:hover>a,
.menu-hover-style-2.mk-vm-menuwrapper li.current-menu-item>a,
.menu-hover-style-2.mk-vm-menuwrapper li.current-menu-ancestor>a {
	color: #F18C24!important;
}
.menu-hover-style-3 .main-navigation-ul>li.menu-item>a.menu-item-link:hover,
.menu-hover-style-3 .main-navigation-ul>li.menu-item:hover>a.menu-item-link,
.menu-hover-style-3.mk-vm-menuwrapper li>a:hover,
.menu-hover-style-3.mk-vm-menuwrapper li:hover>a {
	border: 2px solid #F18C24;
}
.menu-hover-style-3 .main-navigation-ul>li.current-menu-item>a.menu-item-link,
.menu-hover-style-3 .main-navigation-ul>li.current-menu-ancestor>a.menu-item-link,
.menu-hover-style-3.mk-vm-menuwrapper li.current-menu-item>a,
.menu-hover-style-3.mk-vm-menuwrapper li.current-menu-ancestor>a {
	border: 2px solid #F18C24;
	background-color: #F18C24;
	color: #ffffff;
}
.menu-hover-style-3.mk-vm-menuwrapper li.current-menu-ancestor>a:after {
	color: #ffffff;
}
.menu-hover-style-4 .main-navigation-ul li.menu-item>a.menu-item-link:hover,
.menu-hover-style-4 .main-navigation-ul li.menu-item:hover>a.menu-item-link,
.menu-hover-style-4 .main-navigation-ul li.current-menu-item>a.menu-item-link,
.menu-hover-style-4 .main-navigation-ul li.current-menu-ancestor>a.menu-item-link,
.menu-hover-style-4.mk-vm-menuwrapper li a:hover,
.menu-hover-style-4.mk-vm-menuwrapper li:hover>a,
.menu-hover-style-4.mk-vm-menuwrapper li.current-menu-item>a,
.menu-hover-style-4.mk-vm-menuwrapper li.current-menu-ancestor>a,
.menu-hover-style-5 .main-navigation-ul>li.menu-item>a.menu-item-link:after {
	background-color: #F18C24;
	color: #ffffff;
}
.menu-hover-style-4.mk-vm-menuwrapper li.current-menu-ancestor>a:after,
.menu-hover-style-4.mk-vm-menuwrapper li.current-menu-item>a:after,
.menu-hover-style-4.mk-vm-menuwrapper li:hover>a:after,
.menu-hover-style-4.mk-vm-menuwrapper li a:hover::after {
	color: #ffffff;
}
.menu-hover-style-1 .main-navigation-ul>li.dropdownOpen>a.menu-item-link,
.menu-hover-style-1 .main-navigation-ul>li.active>a.menu-item-link,
.menu-hover-style-1 .main-navigation-ul>li.open>a.menu-item-link,
.menu-hover-style-1 .main-navigation-ul>li.menu-item>a:hover,
.menu-hover-style-1 .main-navigation-ul>li.current-menu-item>a.menu-item-link,
.menu-hover-style-1 .main-navigation-ul>li.current-menu-ancestor>a.menu-item-link {
	border-top-color: #F18C24;
}
.menu-hover-style-1.mk-vm-menuwrapper li>a:hover,
.menu-hover-style-1.mk-vm-menuwrapper li.current-menu-item>a,
.menu-hover-style-1.mk-vm-menuwrapper li.current-menu-ancestor>a {
	border-left-color: #F18C24;
}
.header-style-1 .menu-hover-style-1 .main-navigation-ul>li>a,
.header-style-1 .menu-hover-style-2 .main-navigation-ul>li>a,
.header-style-1 .menu-hover-style-4 .main-navigation-ul>li>a,
.header-style-1 .menu-hover-style-5 .main-navigation-ul>li {
	height: 90px;
	line-height: 90px;
}
.header-style-1 .menu-hover-style-3 .main-navigation-ul>li,
.header-style-1 .menu-hover-style-5 .main-navigation-ul>li {
	height: 90px;
	line-height: 90px;
}
.header-style-1 .menu-hover-style-3 .main-navigation-ul>li>a {
	line-height: 45px;
}
.header-style-1.header-sticky-ready .menu-hover-style-3 .main-navigation-ul>li>a {
	line-height: 36.666666666667px;
}
.header-style-1 .menu-hover-style-5 .main-navigation-ul>li>a {
	line-height: 20px;
	vertical-align: middle;
}
.main-navigation-ul>li.no-mega-menu ul.sub-menu:after,
.main-navigation-ul>li.has-mega-menu>ul.sub-menu:after {
	background-color: #F18C24;
}
.mk-shopping-cart-box {
	border-top: 2px solid #F18C24;
}
#mk-main-navigation li.no-mega-menu ul.sub-menu,
#mk-main-navigation li.has-mega-menu>ul.sub-menu,
.mk-shopping-cart-box {
	background-color: #333333;
}
#mk-main-navigation ul.sub-menu a.menu-item-link,
#mk-main-navigation ul .megamenu-title,
.megamenu-widgets-container a,
.mk-shopping-cart-box .product_list_widget li a,
.mk-shopping-cart-box .product_list_widget li.empty,
.mk-shopping-cart-box .product_list_widget li span,
.mk-shopping-cart-box .widget_shopping_cart .total {
	color: #b3b3b3;
}
.mk-shopping-cart-box .mk-button.cart-widget-btn {
	border-color: #b3b3b3;
	color: #b3b3b3;
}
.mk-shopping-cart-box .mk-button.cart-widget-btn:hover {
	background-color: #b3b3b3;
	color: #333333;
}
#mk-main-navigation ul .megamenu-title {
	color: #ffffff;
}
#mk-main-navigation ul .megamenu-title:after {
	background-color: #ffffff;
}
.megamenu-widgets-container {
	color: #b3b3b3;
}
.megamenu-widgets-container .widgettitle {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bolder;
}
#mk-main-navigation ul.sub-menu li.menu-item ul.sub-menu li.menu-item a.menu-item-link i {
	color: #e0e0e0;
}
#mk-main-navigation ul.sub-menu a.menu-item-link:hover {
	color: #ffffff!important;
}
.megamenu-widgets-container a:hover {
	color: #ffffff;
}
.main-navigation-ul li.menu-item ul.sub-menu li.menu-item a.menu-item-link:hover,
.main-navigation-ul li.menu-item ul.sub-menu li.menu-item:hover>a.menu-item-link,
.main-navigation-ul ul.sub-menu li.menu-item a.menu-item-link:hover,
.main-navigation-ul ul.sub-menu li.menu-item:hover>a.menu-item-link,
.main-navigation-ul ul.sub-menu li.current-menu-item>a.menu-item-link {
	background-color: !important;
}
.mk-search-trigger:hover,
.mk-header-start-tour:hover {
	color: #F18C24;
}
.main-navigation-ul li.menu-item ul.sub-menu li.menu-item a.menu-item-link {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.has-mega-menu .megamenu-title {
	letter-spacing: 1px;
}
.header-style-4 {
	text-align: left
}
.mk-vm-menuwrapper li>a {
	padding-right: 45px;
}
/* 헤더 부분 */
.mk-transparent-header .sticky-style-slide .mk-header-holder {
	position: absolute;
}
.mk-transparent-header .remove-header-bg-true:not(.header-sticky-ready) .mk-header-bg {
	opacity: 0;
}
.mk-transparent-header .remove-header-bg-true#mk-header:not(.header-sticky-ready) .mk-header-inner {
	border: 0;
}
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .mk-desktop-logo.light-logo {
	display: block!important;
}
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .mk-desktop-logo.dark-logo {
	display: none!important;
}
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .main-navigation-ul>li.menu-item>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .mk-search-trigger,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .mk-shoping-cart-link i,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .mk-header-cart-count,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .mk-header-start-tour,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) #mk-header-social a i,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.menu-item>a.menu-item-link:hover,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.menu-item:hover>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.current-menu-item>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.current-menu-ancestor>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-2 .main-navigation-ul>li.menu-item>a.menu-item-link:hover,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-2 .main-navigation-ul>li.menu-item:hover>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-2 .main-navigation-ul>li.current-menu-item>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .mk-vm-menuwrapper li a,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .mk-vm-menuwrapper li>a:after,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .mk-vm-menuwrapper li.mk-vm-back:after {
	color: #fff!important;
}
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .mk-css-icon-menu div {
	background-color: #fff!important;
}
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.dropdownOpen>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.active>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.open>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.menu-item>a:hover,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.current-menu-item>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.current-menu-ancestor>a.menu-item-link {
	border-top-color: #fff;
}
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-3 .main-navigation-ul>li.current-menu-item>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-3 .main-navigation-ul>li.current-menu-ancestor>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-3.mk-vm-menuwrapper li.current-menu-item>a,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-3.mk-vm-menuwrapper li.current-menu-ancestor>a {
	border: 2px solid #fff;
	background-color: #fff;
	color: #222!important;
}
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-3 .main-navigation-ul>li.menu-item>a.menu-item-link:hover,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-3 .main-navigation-ul>li.menu-item:hover>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-3.mk-vm-menuwrapper li>a:hover,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-3.mk-vm-menuwrapper li:hover>a {
	border: 2px solid #fff;
}
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-4 .main-navigation-ul li.menu-item>a.menu-item-link:hover,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-4 .main-navigation-ul li.menu-item:hover>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-4 .main-navigation-ul li.current-menu-item>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-5 .main-navigation-ul>li.menu-item>a.menu-item-link:after {
	background-color: #F18C24;
	color: #ffffff;
}
.mk-transparent-header .remove-header-bg-true.light-header-skin:not(.header-sticky-ready) .menu-hover-style-5 .main-nav-side-search .mk-icon-search:hover{
	color: #F18C24;
}

.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .mk-desktop-logo.dark-logo {
	display: block!important;
}
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .mk-desktop-logo.light-logo {
	display: none!important;
}
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .main-navigation-ul>li.menu-item>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .mk-search-trigger,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .mk-shoping-cart-link i,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .mk-header-cart-count,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .mk-header-start-tour,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) #mk-header-social a i,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul li.menu-item>a.menu-item-link:hover,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul li.menu-item:hover>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul li.current-menu-item>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul li.current-menu-ancestor>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-2 .main-navigation-ul li.menu-item>a.menu-item-link:hover,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-2 .main-navigation-ul li.menu-item:hover>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-2 .main-navigation-ul li.current-menu-item>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-2 .main-navigation-ul li.current-menu-ancestor>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .mk-vm-menuwrapper li a,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .mk-vm-menuwrapper li>a:after,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .mk-vm-menuwrapper li.mk-vm-back:after {
	color: #222!important;
}
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.dropdownOpen>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.active>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.open>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.menu-item>a:hover,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.current-menu-item>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-1 .main-navigation-ul>li.current-menu-ancestor>a.menu-item-link {
	border-top-color: #222;
}
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .mk-css-icon-menu div {
	background-color: #222!important;
}
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-3 .main-navigation-ul>li.current-menu-item>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-3 .main-navigation-ul>li.current-menu-ancestor>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-3.mk-vm-menuwrapper li.current-menu-item>a,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-3.mk-vm-menuwrapper li.current-menu-ancestor>a {
	border: 2px solid #222;
	background-color: #222;
	color: #fff!important;
}
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-3 .main-navigation-ul>li.menu-item>a.menu-item-link:hover,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-3 .main-navigation-ul>li.menu-item:hover>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-3.mk-vm-menuwrapper li>a:hover,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-3.mk-vm-menuwrapper li:hover>a {
	border: 2px solid #222;
}
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-4 .main-navigation-ul li.menu-item>a.menu-item-link:hover,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-4 .main-navigation-ul li.menu-item:hover>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-4 .main-navigation-ul li.current-menu-item>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-4 .main-navigation-ul li.current-menu-ancestor>a.menu-item-link,
.mk-transparent-header .remove-header-bg-true.dark-header-skin:not(.header-sticky-ready) .menu-hover-style-5 .main-navigation-ul>li.menu-item>a.menu-item-link:after {
	background-color: #222;
	color: #fff!important;
}
/* 헤더 끝 */
.comment-reply a,
.mk-toggle .mk-toggle-title.active-toggle:before,
.mk-testimonial-author,
.modern-style .mk-testimonial-company,
#wp-calendar td#today,
.news-full-without-image .news-categories span,
.news-half-without-image .news-categories span,
.news-fourth-without-image .news-categories span,
.mk-read-more,
.news-single-social li a,
.portfolio-widget-cats,
.portfolio-carousel-cats,
.blog-showcase-more,
.simple-style .mk-employee-item:hover .team-member-position,
.mk-readmore,
.about-author-name,
.mk-portfolio-classic-item .portfolio-categories a,
.register-login-links a:hover,
.not-found-subtitle,
.mk-mini-callout a,
.search-loop-meta a,
.new-tab-readmore,
.mk-news-tab .mk-tabs-tabs li.ui-tabs-active a,
.mk-tooltip a,
.mk-accordion-single.current .mk-accordion-tab i,
.monocolor.pricing-table .pricing-price span,
.quantity .plus:hover,
.quantity .minus:hover,
.mk-woo-tabs .mk-tabs-tabs li.ui-state-active a,
.product .add_to_cart_button i,
.blog-modern-comment:hover,
.blog-modern-share:hover,
{
	color: #F18C24;
}
.mk-tabs .mk-tabs-tabs li.ui-tabs-active a>i,
.mk-accordion .mk-accordion-single.current .mk-accordion-tab:before,
.mk-tweet-list a,
.widget_testimonials .testimonial-slider .testimonial-author,
#mk-filter-portfolio li a:hover,
#mk-language-navigation ul li a:hover,
#mk-language-navigation ul li.current-menu-item>a,
.mk-quick-contact-wrapper h4,
.divider-go-top:hover i,
.widget-sub-navigation ul li a:hover,
#mk-footer .widget_posts_lists ul li .post-list-meta time,
.mk-footer-tweets .tweet-username,
.product-category .item-holder:hover h4,
{
	color: #F18C24!important;
}
.image-hover-overlay,
.newspaper-portfolio,
.similar-posts-wrapper .post-thumbnail:hover>.overlay-pattern,
.portfolio-logo-section,
.post-list-document .post-type-thumb:hover,
#cboxTitle,
#cboxPrevious,
#cboxNext,
#cboxClose,
.comment-form-button,
.mk-dropcaps.fancy-style,
.mk-image-overlay,
.pinterest-item-overlay,
.news-full-with-image .news-categories span,
.news-half-with-image .news-categories span,
.news-fourth-with-image .news-categories span,
.widget-portfolio-overlay,
.portfolio-carousel-overlay,
.blog-carousel-overlay,
.mk-classic-comments span,
.mk-similiar-overlay,
.mk-skin-button,
.mk-flex-caption .flex-desc span,
.mk-icon-box .mk-icon-wrapper i:hover,
.mk-quick-contact-link:hover,
.quick-contact-active.mk-quick-contact-link,
.mk-fancy-table th,
.ui-slider-handle,
.widget_price_filter .ui-slider-range,
.shop-skin-btn,
#review_form_wrapper input[type=submit],
#mk-nav-search-wrapper form .nav-side-search-icon:hover,
form.ajax-search-complete i,
.blog-modern-btn,
.showcase-blog-overlay,
.gform_button[type=submit],
.button.alt,
#respond #submit,
.woocommerce .price_slider_amount .button.button,
.mk-shopping-cart-box .mk-button.checkout,
.widget_shopping_cart .mk-button.checkout,
.widget_shopping_cart .mk-button.checkout {
	background-color: #252525!important;
}
.mk-circle-image .item-holder {
	-webkit-box-shadow: 0 0 0 1px #F18C24;
	-moz-box-shadow: 0 0 0 1px #F18C24;
	box-shadow: 0 0 0 1px #F18C24;
}
.mk-blockquote.line-style,
.bypostauthor .comment-content,
.bypostauthor .comment-content:after,
.mk-tabs.simple-style .mk-tabs-tabs li.ui-tabs-active a {
	border-color: #F18C24!important;
}
.news-full-with-image .news-categories span,
.news-half-with-image .news-categories span,
.news-fourth-with-image .news-categories span,
.mk-flex-caption .flex-desc span {
	box-shadow: 8px 0 0 #F18C24, -8px 0 0 #F18C24;
}
.monocolor.pricing-table .pricing-cols .pricing-col.featured-plan {
	border: 1px solid #F18C24!important;
}
.mk-skin-button.three-dimension {
	box-shadow: 0px 3px 0px 0px #c75c42;
}
.mk-skin-button.three-dimension:active {
	box-shadow: 0px 1px 0px 0px #c75c42;
}
.mk-footer-copyright,
#mk-footer-navigation li a {
	color: #fff;
}
.mk-woocommerce-main-image img:hover,
.mk-single-thumbnails img:hover {
	border: 1px solid #F18C24!important;
}
.product-loading-icon {
	background-color: rgba(249, 115, 82, 0.6);
}
.bigger-font-size p,
.bigger-font-size {
	font-size: 16px;
	line-height: 27px;
	color: #777;
}
.cmk-center-align {
	text-align: center;
}